
/* BEGIN : Fonts */

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot');
  src: url('../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
  url('../fonts/iranyekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/iranyekan/woff/iranyekanwebbold(fanum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iranyekan/eot/iranyekanweblight(fanum).eot');
  src: url('../fonts/iranyekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
  url('../fonts/iranyekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/iranyekan/woff/iranyekanweblight(fanum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot');
  src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
  url('../fonts/iranyekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/iranyekan/woff/iranyekanwebregular(fanum).woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

/* END : Fonts */
